.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
  display: inline-block;
  cursor: pointer;
}

.blue {
  background-color: blue;
}
.white {
  background-color: white;
}
