.wrapper {
  /* display: flex;
  /* justify-content: center; */
  /* flex-direction: column;  */
  text-align: center;
  width: 500px;
  margin: 0 auto;
  border: 1px solid black;
}
.heading {
  display: flex;

  /* margin: 0% 50%; */
  /* text-align: center;  */
}
.content {
  color: red;
  font-size: 40px;
  margin: 20px;
}
.tab-item {
  font-size: 30px;
  background-color: Green;
  color: white;
  font-weight: 700;
  padding: 12px;
  cursor: pointer;
}
.tab-item.active {
  font-size: 30px;

  background-color: yellowgreen;
  color: white;
}
