.app-container {
  display: flex;
}
.content {
  width: 100%;
  margin: 0;
  padding: 0;
}

.sidebar {
  min-height: 100dvh;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100vw;
  background: rgb(32, 32, 32);
  color: white;
  margin: 0;
}
.wid {
  width: 95%;
}
.color {
  color: white;
}
.pad {
  padding: 0 !important;
  margin: 0;
}
.bottom {
  margin-bottom: 0 !important;
  margin-top: 1rem;
}
